<head>
	
    <!-- ************* META *************** -->
    <meta charset="iso-8859-1" />
    <meta name="description"        content="Diseño Web a medida. Websites, Blogs, Portfolios, Foros, lo que necesites lo hacemos." />
    <meta name="keywords"           content="web design diseño css css3 html xhtml html5 php ruby programmer programador developer desarrollo desarrollador diseñador freelance" />
    <meta name="title"              content="Imaginand" />
    <meta name="viewport"           content="width=device-width , initial-scale=1 ,maximum-scale=1" />
    <meta property="og:description" content="Web Designs. Websites, Blogs, Portfolios, Forums, everything you need." /> 
    <meta property="og:locale"      content="es_ES" /> 
    <meta property="og:site_name"   content="Imaginand" />
    <meta property="og:url"         content="http://imaginand.com" />
    <meta property="og:title"       content="Imaginand" /> 
    <meta property="og:type"        content="website" />

    <!-- ************* TITLE *************** -->
    <title>Imaginand.com</title>
	

    <!-- ************* FONTS *************** -->
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>


    <!-- ************ CSS ****************** -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/web/css/main.css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
</head>