{% extends layout %}

{% block content %}

    <h2>Servicios</h2>

    <!-- BASIC -->
    <article>
        <h3>pack básico</h3>
        <ul>
            <li>Diseño de tu web</li>
            <li>Contenido de 3 páginas<br />
                <small>(home, contacto, sobre nosotos)</small>
            </li>
            <li>Registro del dominio</li>
            <li>Soporte básico<br />
                <small>(atención online)</small>
            </li>
        </ul>
        <div class="priceContainer">
            <div class="price">299€</div>
            <a href="#" class="btn1">contratar</a>
        </div>
    </article>

    <!-- ADVANCED -->
    <article>
        <h3>pack avanzado</h3>
        <ul>
            <li>Diseño de tu web</li>
            <li>Contenido: hasta 6 páginas</li>
            <li>Galería o Portfolio</li>
            <li>Registro del dominio</li>
            <li>SEO (¡Aparece en Google!)</li>
            <li>Soporte Avanzado<br />
                <small>(Ateción online, Copias de seguridad)</small>
            </li>
        </ul>
        <div class="priceContainer">
            <div class="price">599€</div>
            <a href="#" class="btn1">contratar</a>
        </div>
    </article>

    <!-- PROFESSIONAL -->
    <article>
        <h3>pack profesional</h3>
        <ul>
            <li>Diseño de tu web</li>
            <li>Contenido Dinámico<br />
                <small>(Gestiona todo el contenido de tu web tanto si es una tienda, una galería, un porfolio...)</small>
            </li>
            <li>Registro del dominio</li>
            <li>SEO (¡Aparece en Google!)</li>
            <li>Soporte Profesional<br />
                <small>(Ateción online y telefónica, Copias de seguridad semanales)</small>
            </li>
        </ul>
        <div class="priceContainer">
            <div class="price">1199€</div>
            <a href="#" class="btn1">contratar</a>
        </div>
    </article>
    
    <!-- PERSONALIZED -->
    <article id="personalized">
        <h3>Personalizado</h3>
        <p>Si necesitas un pack personalizado o buscas otro tipo de servicio, contacta conmigo.</p>
        <div class="priceContainer">
            <a href="#" class="btn1">más info</a>
        </div>
    </article>

{% endblock %}